ul,
li,
body,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

#signup-header-nav {
  background-color: #3a133f;
  overflow: hidden;
  padding: 10px 20px;
  color: #fff;
}

#home-header-nav {
  background-color: #3a133f;
  overflow: hidden;
  padding: 10px 20px;
}

#home-header-nav a {
  color: #fff;
  text-decoration: none;
}

#home-header-nav ul li:first-child {
  float: left;
  color: #fff;
}

#home-header-nav ul li:last-child {
  float: right;
}

.navbar .nav-link:hover {
  color: #ecf0f1 !important;
}

#signup-area {
  text-align: center;
}

#signup-area .form-control {
  display: inline-block;
  width: 300px;
}

#chat-page {
  max-width: 100% !important;
}

#left-side {
  background-color: #3f0e40;
  height: calc(100vh - 44px);
  width: 260px;
  float: left;
  color: #fffafa;
  position: relative;
}

#left-side .fa-circle {
  font-size: 10px;
  color: #2bac76;
  margin-right: 5px;
}

#left-side #user-info {
  padding: 20px;
}

#left-side #channels-header {
  margin-left: 20px;
}

#left-side #channels-header .fa-plus {
  color: #fff;
  font-size: 15px;
  margin-left: 130px;
  cursor: pointer;
}

#left-side #rooms p {
  font-weight: bold;
}

#left-side #rooms-list {
  width: 100%;
}

#left-side #rooms-list li {
  padding: 5px 20px;
  cursor: pointer;
}

#left-side #rooms-list li.active:hover {
  background-color: #007bff;
}

#left-side #rooms-list li:hover {
  background-color: #350d36;
}

#left-side .active {
  background-color: #007bff;
}

#left-side #new-room-form h5 {
  color: #000;
}

#left-side #new-room-form p {
  font-weight: normal;
}

#left-side #footer-nav {
  position: absolute;
  left: 5%;
  bottom: 0;
  padding: 10px;
}

#left-side #footer-nav a {
  color: #fff;
}

#right-side {
  width: calc(100% - 260px);
  height: calc(100vh - (44px));
  float: right;
  padding: 20px;
}

#right-side #chat-header p {
  font-weight: bold;
}

#right-side .chat-message {
  white-space: pre-wrap;
}

#right-side #message-area {
  width: 100%;
  height: calc( 100vh - ( 44px + 28px + 55px + 54px + 60px ));
  overflow-y: auto;
  padding: 15px 0 0 15px;
}

#right-side .message-block {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
}

#right-side .message-block p {
  margin-bottom: 0;
}

#right-side .message-block .username {
  font-weight: bold;
  line-height: 15px;
}

#right-side .chat-left {
  float: left;
  margin-right: 10px;
}

#right-side .chat-left img {
  width: 30px;
  height: 30px;
}

#right-side .chat-right {
  overflow: hidden;
}

#right-side .form-control:focus {
  border-color: #ced4da !important;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#right-side #writing-area {
  position: relative;
}

#right-side #icons-area {
  width: 100%;
  position: relative;
  position: absolute;
  left: 0;
  top: 100%;
  border: 1px solid #ced4da;
  border-radius: 0 0 5px 5px;
}

#right-side #icons-area .textarea-icons {
  float: right;
}

#right-side #icons-area #file-selector {
  display: none;
}

#right-side #icons-area i {
  font-size: 20px;
  margin-right: 20px;
  margin-top: 10px;
  color: #007bff;
  cursor: pointer;
}

#right-side textarea {
  height: 55px;
  resize: none;
  border-bottom: 0 !important;
  border-radius: 5px 5px 0 0 !important;
  outline: none !important;
}

#right-side #newline-instruction {
  position: absolute;
  left: 0;
  top: 90px;
  display: none;
  margin: 10px 0 0 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 599px) {
  #signup-area .form-control {
    width: auto;
  }
  #left-side {
    width: 150px;
  }
  #left-side .fa-plus {
    margin-left: 25px !important;
  }
  #right-side {
    width: calc(100% - 150px);
  }
}
/*# sourceMappingURL=style.css.map */