<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}" />

    <script>
        if (!localStorage.getItem("name")) {
            window.location.href = "/sign_in";
        }
    </script>

    <title>Flack</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light border custom-nav">
        <a class="navbar-brand" href="#">
            <span style="color: yellow;">FLACK</span>
        </a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="https://github.com/minhajul-karim/flack">View code</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#" id="logout">Log Out</a></li>
            </ul>
        </div>
    </nav>

    <div id="main-area">
        <div id="left-side">
            <div id="user-info">
                <p id="username"><i class="fas fa-circle"></i></p>
            </div>
            <div id="rooms">
                <p id="channels-header">
                    Channels
                    <span id="create-room" data-toggle="modal" data-target="#create-room-form">
                        <i class="fas fa-plus"></i>
                    </span>
                </p>
                <ul id="rooms-list">
                    {% for room in rooms %}
                    <li class="room">{{ room }}</li>
                    {% endfor %}
                </ul>

                <!-- New room form -->
                <form id="new-room-form">
                    <div class="modal fade" id="create-room-form" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="new-room-form-header">
                                        Create channel
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <br />
                                </div>
                                <div class="modal-body">
                                    <p style="color: red; display: none;" id="room-error" class="text-center">
                                        Channel already exists!
                                    </p>

                                    <div class="form-group">
                                        <label for="room-name" class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" id="room-name"
                                            placeholder="e.g. #marketing" autocomplete="off" autofocus />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="close-button"
                                        data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        Create
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="right-side">
            <div id="chat-header"></div>
            <div id="message-area"></div>
            <div id="input-area">
                <textarea class="form-control" id="message" rows="3" placeholder="Write message..."
                    autofocus></textarea>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8ad34e41bd.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
        integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"
        integrity="sha256-usTqAE1ywvdMtksWzdeWzD75MsfJN0h0U7y2NtZL3N0=" crossorigin="anonymous"></script>

    <script id="message-template" type="text/x-handlebars-template">
        {% raw -%}
        <div class="message-block">
            <div class="chat-left">
                <img src="../static/images/user_image.png" alt="">
            </div>
            <div class="chat-right">
                <p class="username">
                    {{name}}
                </p>
                <small class="text-muted">
                    {{time}}
                </small>
                <p>
                    {{message}}
                </p>
            </div>
        </div>
        {%- endraw %}
    </script>

    <script id="chat-history" type="text/x-handlebars-template">
        {% raw -%}
        {{#each chats}}
            <div class="message-block">
                <div class="chat-left">
                    <img src="../static/images/user_image.png" alt="">
                </div>
                <div class="chat-right">
                    <p class="username">
                        {{this.name}}
                    </p>
                    <small class="text-muted">
                        {{this.time}}
                    </small>
                    <p>
                        {{this.message}}
                    </p>
                </div>
            </div>
        {{/each}}
        {%- endraw %}
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script>
        $(document).ready(function () {
            // Clear previous room name or any error messages while creating new rooms
            $("#create-room-form").on("show.bs.modal", function (event) {
                document.querySelector("#room-error").style.display = "none";
                document.querySelector("#room-name").value = "";
            });

            $("#create-room-form").on("shown.bs.modal", function () {
                $("#room-name").trigger("focus");
            });
        });
    </script>
</body>

</html>