<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>Flack</title>
    <script>

        document.addEventListener('DOMContentLoaded', () => {

            document.querySelector('#name-button').onclick = () => {

                const name = document.querySelector('#name').value;
                localStorage.setItem('name', name);

                // Redirect users to home page
                window.location.href = '/';
                return false;

            }

        })

    </script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light border custom-nav">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
            <span style="color: yellow;">FLACK</span>
        </a>
        <!-- Hamburger icon -->
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="#">View code</a></li>
            </ul>
        </div>
    </nav>

    <!-- Sign up form -->
    <div class="container mt-5" id="signup-area">
        <div class="row">
            <div class="col">
                <div id="registration-area">
                    <h1 class="display-4 py-2">Sign Up</h1>
                    <form action="#" method="POST" id="reg_form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter your name" name="name" id="name"
                                required autofocus>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg" id="name-button">Enter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>