<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>Flack</title>
</head>

<body>
    <nav id="signup-header-nav">
        <ul class="list-inline">
            <li class="list-inline-item font-weight-bold">Flack</li>
        </ul>
    </nav>

    <div id="signup-wrapper">
        <h1 class="display-4 py-2">Sign Up</h1>
        <div class="error-div"></div>
        <form id="signup-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter your name" id="name" autocomplete="off"
                    autofocus required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg" id="submit-button">Enter</button>
        </form>
        <div id="signup-footer-nav">
            <ul class="list-inline text-center">
                <li class="list-inline-item"><a class="text-center" href="https://github.com/minhajul-karim/flack/"
                        target="_blank"><small>View Code</small></a></li>
                <li class="list-inline-item"><a class="text-center"
                        href="https://github.com/minhajul-karim/flack/issues" target="_blank"><small>Report a
                            bug</small></a></li>
                <li class="list-inline-item"><a class="text-center"
                        href="https://github.com/minhajul-karim/flack#privacy"
                        target="_blank"><small>Privacy</small></a></li>
            </ul>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/sign_in.js') }}"></script>
</body>

</html>