ul,
li,
body,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Variables
$navbar_height: 44px;
$left_side_width: 260px;
$room_header_height: 28px;
$textarea_height: 55px;
$icons_height: 54px;
$breakpoint-mobile: 599px;

// Mixins
@mixin header-nav {
  background-color: #3a133f;
  overflow: hidden;
  padding: 10px 20px;
}

// Top nav
#signup-header-nav {
  @include header-nav;
  color: #fff;
}

#home-header-nav {
  @include header-nav;
  a {
    color: #fff;
    text-decoration: none;
  }
}

#home-header-nav ul li:first-child {
  float: left;
  color: #fff;
}

#home-header-nav ul li:last-child {
  float: right;
}

// Sing up
#signup-area {
  text-align: center;

  .form-control {
    display: inline-block;
    width: 300px;
  }
}

// Chat page
#chat-page {
  max-width: 100% !important;
}

// Room info
#left-side {
  background-color: #3f0e40;
  height: calc(100vh - #{$navbar_height});
  width: $left_side_width;
  float: left;
  color: #fffafa;
  position: relative;

  // Active status icon
  .fa-circle {
    font-size: 10px;
    color: #2bac76;
    margin-right: 5px;
  }

  // Username
  #user-info {
    padding: 20px;
  }

  #channels-header {
    margin-left: 20px;

    // Add channel icon
    .fa-plus {
      color: #fff;
      font-size: 15px;
      margin-left: 130px;
      cursor: pointer;
    }
  }

  #rooms p {
    font-weight: bold;
  }

  #rooms-list {
    width: 100%;

    li {
      padding: 5px 20px;
      cursor: pointer;
    }
  }

  #rooms-list li.active:hover {
    background-color: #007bff;
  }

  #rooms-list li:hover {
    background-color: #350d36;
  }

  // Class for active room
  .active {
    background-color: #007bff;
  }

  // Form to create new room
  #new-room-form {
    h5 {
      color: #000;
    }
    p {
      font-weight: normal;
    }
  }

  #footer-nav {
    position: absolute;
    left: 5%;
    bottom: 0;
    padding: 10px;

    a {
      color: #fff;
    }
  }
}

// Chat messages
#right-side {
  width: calc(100% - #{$left_side_width});
  height: calc(100vh - (#{$navbar_height}));
  float: right;
  padding: 20px;

  // Room header
  #chat-header p {
    font-weight: bold;
  }

  .chat-message {
    white-space: pre-wrap;
  }

  // Area to display messages
  #message-area {
    width: 100%;
    height: calc(
      100vh -
        (
          #{$navbar_height} + #{$room_header_height} + #{$textarea_height} + #{$icons_height} +
            60px
        )
    );
    overflow-y: auto;
    padding: 15px 0 0 15px;
  }

  // Area to contain each messages
  .message-block {
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
    p {
      margin-bottom: 0;
    }
    .username {
      font-weight: bold;
      line-height: 15px;
    }
  }

  // User image
  .chat-left {
    float: left;
    margin-right: 10px;
    img {
      width: 30px;
      height: 30px;
    }
  }

  // Chat message
  .chat-right {
    overflow: hidden;
  }

  // Disable outline of textarea
  .form-control:focus {
    border-color: #ced4da !important;
    outline: none;
    box-shadow: none;
  }

  // Area to write messagges
  #writing-area {
    position: relative;
  }

  #icons-area {
    width: 100%;
    position: relative;
    position: absolute;
    left: 0;
    top: 100%;
    border: 1px solid #ced4da;
    border-radius: 0 0 5px 5px;

    .textarea-icons {
      float: right;
    }

    #file-selector {
      display: none;
    }

    i {
      font-size: 20px;
      margin-right: 20px;
      margin-top: 10px;
      color: #007bff;
      cursor: pointer;
    }
  }

  textarea {
    height: $textarea_height;
    resize: none;
    border-bottom: 0 !important;
    border-radius: 5px 5px 0 0 !important;
    outline: none !important;
  }

  #newline-instruction {
    position: absolute;
    left: 0;
    top: 70px;
    display: none;
    margin: 10px 0 0 10px;
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    img {
      width: 200px;
      margin: 10px;
      cursor: pointer;
    }
  }

  .image-container img:hover {
    opacity: 0.5;
  }
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: $breakpoint-mobile) {
  #signup-area {
    .form-control {
      width: auto;
    }
  }
  $small_left_side_width: 150px;
  #left-side {
    width: $small_left_side_width;
    .fa-plus {
      margin-left: 25px !important;
    }
  }
  #right-side {
    width: calc(100% - #{$small_left_side_width});
  }
}
