ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bg-light {
    background-color: #350d36 !important;
    border: 0px !important;
}

nav .navbar-brand {
    font-size: xx-large;
}

.navbar .nav-link {
    color: #fff !important;
}

.navbar .nav-link:hover {
    color: yellow !important;
}

// Sing up
#signup-area {
    text-align: center;

    .form-control {
        display: inline-block;
        width: 300px;
    }
}

// Chat page
#chat-page {
    max-width: 100% !important;
}

$left_side_width: 260px;
#left-side {
    background-color: #3f0e40;
    height: calc(100vh - 74px);
    width: $left_side_width;
    float: left;
    color: #fffafa;

    i {
        font-size: 10px;
        color: #2bac76;
        margin-right: 5px;
    }

    #user-info {
        padding: 20px;
    }

    #channels-header {
        margin-left: 20px;
        i {
            color: #fff;
            font-size: 15px;
        }
    }

    #rooms p {
        font-weight: bold;
    }

    #rooms-list {
        width: 100%;
    }

    #rooms-list li {
        padding: 5px 20px;
        cursor: pointer;
    }

    #rooms-list li.active:hover {
        background-color: #007bff;
    }

    #rooms-list li:hover {
        background-color: #350d36;
    }

    .active {
        background-color: #007bff;
    }

    #new-room-form {
        h5 {
            color: #000;
        }
        p {
            font-weight: normal;
        }
    }
}

$nav_height: 74px;
$room_header_height: 28px;
$textarea_height: 86px;

#right-side {
    width: calc(100% - #{$left_side_width});
    height: calc(100vh - #{$nav_height});
    float: right;
    padding: 20px;

    #chat-header p {
        font-weight: bold;
    }

    #message-area {
        width: 100%;
        height: calc(
            100vh -
                (
                    #{$nav_height} + #{$room_header_height} + #{$textarea_height +
                        75px}
                )
        );
        // background-color: yellow;
        overflow-y: auto;
        padding: 15px 0 0 15px;
    }

    .message-block {
        display: block;
        overflow: hidden;
        p {
            margin-bottom: 0;
        }
        margin-bottom: 15px;
        .username {
            font-weight: bold;
            line-height: 15px;
        }
    }

    .chat-left {
        float: left;
        margin-right: 10px;
        img {
            width: 30px;
            height: 30px;
        }
    }

    .chat-right {
        overflow: hidden;
    }
}

#create-room {
    margin-left: 130px;
    color: #fffafa;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

$breakpoint-mobile: 599px;
@media (max-width: $breakpoint-mobile) {
    #signup-area {
        .form-control {
            width: auto;
        }
    }
}
